<!DOCTYPE html>
	<head>
		<title>Tallkeith's Esty app</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
	<!-- BEGIN TOP MENU -->
		<div class="main">
			<img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Etsy_logo.png">
			<form action="" method="get" class="searchBar">
			  <input type="text" name="q" value="">
			  <input type="submit" value="Search">
			</form>
			<hr>
		<!-- END TOP MENU -->

		<!-- BEGIN SIDEBAR -->
			<div class="sidebar-top">
				Show Results For:
				<div class="menu-sidebar">
					All categories
					<ul>
						<a href="/"><li class="menu-items">Art & Collectibles
						</li></a>
						<a href="/"><li class="menu-items">Home & Living
						</li></a>
						<a href="/"><li class="menu-items">Clothing
						</li></a>
						<a href="/"><li class="menu-items">Paper & Party Supplies
						</li></a>
						<a href="/"><li class="menu-items">Accessories
						</li></a>
						<a href="/"><li class="menu-items">Jewelry
						</li></a>
						<a href="/"><li class="menu-items">Craft Supplies & Tools
						</li></a>
						<a href="/"><li class="menu-items">Bags & Purses
						</li></a>
						<a href="/"><li class="menu-items">Electronics & Accessories
						</li></a>
						<a href="/"><li class="menu-items">Books, Movies & Music
						</li></a>
						<a href="/"><li class="menu-items">Bath & Beauty
						</li></a>
						<a href="/"><li class="menu-items">Toys & Games
						</li></a>
						<a href="/"><li class="menu-items">Weddings
						</li></a>
					</ul>
				</div>
			</div>
		<!-- END SIDEBAR -->
			<div class="listings" >
				<ul class="search-results">
					<% results.each do |item|%>
										
					<div class="item-box">
						<li>
							<a title="<%=item["title"]%> <%= item["tags"]%>" class="tooltip" href="<%= item["url"] %>">
							<img class="item_img" src="<%= item["Images"][0]["url_fullxfull"]%>"></a>
						</li>
						<li class="etsy-item"><a href="<%= item["url"] %>"><%= item["title"]%></a><li>
						
						<li class="etsy-shop"><a href="<%= item["Shop"]["url"]%>"><%= item["Shop"]["shop_name"] %></a><span class="item-price"><%= item["price"] %><%= item["currency_code"]%></span></li>
					</div>
					<%end%>

				</ul>
			</div>

		</div>
	</body>

</html>