<!DOCTYPE html>
	<head>
		<title>Tallkeith's Esty app</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="main">
			<img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Etsy_logo.png">
			<form class="searchBar">
			  <input type="text" name="Search" value="Search for items or shops">
			  <input type="submit" value="Search">
			</form>

			<hr>

			<div class="sidebar-top">
				Show Results For:
					<ul class="menu-sidebar">All categories
						<li>
						</li>

					</ul>
			</div>

			<div class="listings">
				<ul class="search-results">
					<% results.each do |item|%>

					<div class="item-box">
						<li>
							<a href="<%= item["url"] %>">
							<img class="item_img" src="<%= item["Images"][0]["url_fullxfull"]%>"></a>
						</li>
						<li class="etsy-item"><a href="<%= item["url"] %>"><%= item["title"]%></a><li>
						
						<li class="etsy-shop"><a href="<%item["Shop"]["url"]%>"><%= item["Shop"]["shop_name"] %></a><span class="item-price"><%= item["price"] %><%= item["currency_code"]%></span></li>
					</div>
					<%end%>

				</ul>
			</div>

		</div>
	</body>

</html>